* {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

ul {
    display: flex;
    list-style: none;
}

.links {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 15px;

}

#title {
   color: #f9faf8;
   font-size: 48px;
   font-weight: bolder; 
}

sub {
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    height: max-content;
    width: max-content;
    padding: 6px 20px;
    margin-top: 10px;
}

#button-1 {
    color: #f9faf8;
    text-decoration: none;
    font-weight: bolder;

}
.section-1 {
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1f2937
}

.container-section-1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 100px;
}

#container-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
}

#container-2 {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}